<!DOCTYPE html>
<html>
    <head>
        <title>Choose your adventure!</title>
    </head>
    <body>
        <form action="/madlib">
            Choose a name:
            <input type="text" name="person"><br>
            Choose a color:
            <select name="color">
                <option value="blue">Blue</option>
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="orange">Orange</option>
            </select><br>
            Choose a noun:
            <input type="text" name="noun"><br>
            Choose an adjective:
            <input type="text" name="adjective"><br>
            <input type="submit">
        </form>
    </body>
</html>