<!DOCTYPE html>
<html>
    <head>
        <title>Choose your adventure!</title>
    </head>
    <body>
        <form action="/madlib">
            Choose a name:
            <input type="text" name="person"><br>
            Choose a color:
            <select name="color">
                <option value="blue">Blue</option>
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="orange">Orange</option>
            </select><br>
            Choose a noun:
            <input type="checkbox" name="noun" value="hat">Hat
            <input type="checkbox" name="noun" value="box">Box
            <input type="checkbox" name="noun" value="fox">Fox
            <input type="checkbox" name="noun" value="cat">Cat<br>
            Choose an adjective:
            <input type="checkbox" name="adjective" value="crazy">Crazy
            <input type="checkbox" name="adjective" value="lazy">Lazy
            <input type="checkbox" name="adjective" value="sleepy">Sleepy
            <input type="checkbox" name="adjective" value="dopey">Dopey<br>
            <input type="submit">
        </form>
    </body>
</html>